th {
    background-color: whitesmoke;
    font-size: 14px;
    padding: 40px 5px 20px 5px;
}

th:first-child {
    font-size: 22px;
    /* min-width: 400px; */
    /* white-space: nowrap; */
}

th .feature-description {
    font-size: 16px;
    margin-top: 10px;
}

td {
    font-size: 16px;
    padding: 4px;
}

td:first-child {
    min-width: 400px;
    padding-left: 10px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

td.scenario-status {
    text-align: center;
}

.scenario-status-failed {
    color: red;
}

.scenario-status-passed {
    color: green;
}

td.scenario-status-failed {
    font-size: 24pt;    
}

td.scenario-status-passed {
    font-size: 20pt;    
}

td .tooltiptext {
    background-color: azure;
    border: solid 1px black;
    font-size: 12pt;
}

.step-error {
    margin-left: 20px;
    font-size: 10pt;
}